<%= content_for :page_header do %>
  <%= t("forem.topic.new") %>
<% end %>

<p id='forum_topic_links'>
  <%= link_to t('forem.topic.links.back_to_topics'), forem.forum_path(@topic.forum), class: "btn" %>
</p>

<%= render "form" %>
