<%= content_for :page_header do %>
  <i class="icon-group"></i> 小组
  <small> 来和大家讨论一下你的新发现 </small>
<% end %>

<div id='forums_container'>
  <%= render @categories %>
</div>
<br>
<footer id='admin_link'>
  <% if forem_admin? %>
    <%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
  <% end %>
</footer>
